*{
	margin: 0;
	padding: 0;
}
header {
	width: 100%;

	overflow: hidden;
}
.nav {
	width: 100%;
	height: 50px;
	background-color: black;
	border: 2px solid black;
}

.navCenter {
	width: 1226px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
}
.navCenter ul span {
	color: #424242;
	margin: 0 0.5em;
}

.navCenter ul {
	float: left;
}

.navCenter ul li {
	display: inline-block;
}

.navCenter ul li a {
	color: #b0b0b0;
	transition: all .5s;
	font-size: 20px;
}
.navCenter .login {
	float: right;
}

.bottom {
	width:100%;
	height: 620px;
	margin: 0 auto;
	background-color: rgb(52,137,219);
}

.logo {
	text-align: center;
}
.logo img {
	margin-top: 90px;
	width: 250px;
	height: 200px;
}
.logo p {
	margin-top: 40px;
	font-size: 65px;
	color: rgba(255,255,255,0.8);
	font-weight: lighter;
	letter-spacing:-5px;
}
.logo1 p {
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	color:rgba(255,255,255,0.6);
	letter-spacing: -1px;
	font-weight: lighter;
}
.button {
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	width: 120px;
	height: 40px;
	background-color: rgba(255,255,255,0.3);
	border: 1px solid #FFFFFF;
}
.button p {
	text-align: center;
	height: 40px;
	line-height: 40px;
	color: rgba(255,255,255,0.8);
}
.bottom1 {
	width: 100%;
	height: 300px;
	background-color: #FFFFFF;
}
.left {
	display: flex;
	margin-top: 150px;
	margin-left: 400px;
}
.left1 {
	display: flex;
}
.left2 {
	display: flex;
}
.left img {
	margin-left: auto;
	margin-right: auto;
}
.left p {
	margin-top: 30px;
}
.left .image2 {
	width: 50px;
	height: 50px;
	margin-top: 20px;
}
.left .image4 {
	width: 50px;
	height: 50px;
	margin-top: 20px;
}